body {
    /* FONT */
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
}

body.TopBar {
    border-bottom-width: 10px;
    border-bottom-style: solid;
}